<header>
    <nav class="navbar">
        <a href="/" class="logo">WCS</a>

        <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="team.html">Our Team</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="contact.html">Contact</a></li>
        </ul>

        <a href="contact.html" class="nav-btn">
            Get Started
        </a>
    </nav>
</header>
